MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=YOUR_MYSQL_PASSWORD
MYSQL_DATABASE= NAME_OF_DATABASE

GOOGLE_CLIENT_ID= YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET= YOUR_CLIENT_SECRET

COOKIE_SECRET= YOUR_DECIDED_SECRET