<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <script src="/javascripts/login.js" defer></script>
    <title>NotePad</title>
</head>

<body>
    <!-- Container for Login and Signup Forms -->
    <div class="container">
        <h1>NotePad</h1>
        <!-- Login option(default)-->
<div id="loginForm" class="form-container active">
    <form id="loginFormElement">
        <input type="email" id="email" placeholder="Email" required>
        <input type="password" id="password" placeholder="Password" required>
        <button class="btn-primary" type="submit">Login</button>
    </form>

    <div class="divider">OR</div>

    <button class="button-continue-google" type="button">
        <a href="/google/redirect">
        <img src="/images/continue-with-google.svg" alt="Google Logo" class="oauth-logo">
        </a>
    </button>

    <div class="toggle">
        <a href="#" id="showSignup">Create account</a>
    </div>
</div>

<!-- Signup option -->
<div id="signupForm" class="form-container">
    <form id="signupFormElement">
        <input type="text" id="name" placeholder="Name" required>
        <input type="email" id="signupEmail" placeholder="Email" required>
        <input type="password" id="signupPassword" placeholder="Password" required>
        <button class="btn-primary" type="submit">Create Account</button>
    </form>

    <div class="divider">OR</div>

    <button class="button-signup-google" type="button">
        <a href="/google/redirect">
        <img src="/images/Sign-up-with-google.svg" alt="Google Logo" class="oauth-logo">
    </button>
    <div class="toggle">
        <a href="#" id="showLogin">Back to login</a>
    </div>
</div>
    </div>
</body>
</html>